* {
  margin: 0;
  padding: 0;

  font-family: Georgia, Palatino, Times, 'Times New Roman', serif;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background: #fdfdfd;
  color: #111;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #f30;
}

a:hover {
  color: #f90;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 20px 0;
}

h2 {
  font-size: 1.5em;
}

#main {
  position: absolute;

  top: 40px;
  left: 280px;

  width: 500px;
}

#main h1 {
  font-size: 40px;
  font-weight: normal;

  line-height: 40px;

  letter-spacing: -1px;
}

#main p {
  margin: 20px 0;

  font-size: 15px;

  line-height: 20px;
}

#main ul, #main ol {
  margin: 20px;
}

#main li {
  font-size: 15px;

  line-height: 20px;
  list-style-position: inside;
}

#main ul li {
  list-style-type: disc;
}

#sidebar {
  position: absolute;

  top: 40px;
  left: 20px;
  width: 200px;

  padding: 20px 20px 0 0;

  border-right: 1px solid #ccc;

  text-align: right;
}

#sidebar h2 {
  text-transform: uppercase;

  font-size: 13px;

  color: #333;

  letter-spacing: 1px;

  line-height: 20px;
}

#sidebar ul {
  list-style-type: none;

  margin: 20px 0;
}

#sidebar li {
  font-size: 14px;
  line-height: 20px;
}

pre,
code, 
tt {
  font-size: 12px;
  font-family: Consolas, "Liberation Mono", Courier, monospace
}

code {
  margin: 0 2px;
  padding: 0 5px;
  background-color: #f8f8f8;
  border: 1px solid #cacaca;
  border-radius: 3px;
  white-space: nowrap;
}

pre {
  display: block;
  overflow: auto;
  background-color: #f8f8f8;
  border: 1px solid #cacaca;
  border-radius: 3px;
  line-height: 19px;
  padding: 6px 10px;
  margin: 15px 0;
  font-size: 13px;
}

pre code {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  white-space: pre;
}

dl {
  margin-left: 20px;
}

dt {
  font-size: 13px;
  margin-bottom:10px;
  font-weight: bold;
}

dd {
  margin-left: 10px;
  margin-bottom: 20px;
}

#main dd ul {
  margin: 10px 0 10px 5px;
}
